.user-profile-edit{
    .profile_img:hover{
        cursor: pointer;
    }

    .user_profile_edit_div{
        h5{
            text-align: center;
        }
        .text-right{
            text-align: right;
        }
        .user_profile_pic_div{
            padding-left: 0px !important;
            text-align: center;
            .profile_img{
                width: 180px;
                height: 180px;
                border-radius: 50%;
                margin: 0 auto;
                overflow: hidden;
            }
        }
        .cropArea {
          background: #E4E4E4;
          overflow: hidden;
          width:350px;
          height:350px;
          margin: auto;
        }
        .user_detail_div{
            h5{
                font-weight: 500
            }
        }
    }
    .user_detail_div{
        textarea[name="about_me"]{
            height:200px;
        }
    }
}
