

md-toast[md-theme=warn] .md-toast-content {
  background-color: #F44336; }

[ui-view].ng-enter,
[ui-view].ng-leave {
  transition: opacity ease-in-out 200ms; }

[ui-view].ng-enter,
[ui-view].ng-leave.ng-leave-active {
  opacity: 0; }

[ui-view].ng-enter.ng-enter-active {
  opacity: 1; }

.Page.ng-leave.ng-leave-active {
  display: none; }

.u-center {
  text-align: center; }

.chat {
  height: calc(100vh - 130px);
  overflow: hidden;
  outline: none;
  overflow-y: scroll;
  padding: 20px;
  background-color: #ffffff; }

.convo {
  height: calc(100vh - 250px); }

.chat-users,
.chat-body {
  padding-left: 0; }

.chat-users .user {
  position: relative;
  padding: 0 0 0 50px;
  display: block;
  cursor: pointer;
  margin: 0 0 20px; }

.chat-users .user .avatar {
  top: 0;
  left: 0; }

.chat .avatar {
  width: 40px;
  height: 40px;
  position: absolute; }

.chat .avatar img {
  display: block;
  border-radius: 20px;
  height: 100%; }

.chat .avatar .status.off {
  border: 1px solid #5a5a5a;
  background: #ffffff; }

.chat .avatar .status.online {
  background: #4caf50; }

.chat .avatar .status.busy {
  background: #ffc107; }

.chat .avatar .status.offline {
  background: #ed4e6e; }

.chat-users .user .status {
  bottom: 0;
  left: 28px; }

.chat .avatar .status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute; }

.chat-users .user .name {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.chat-users .user .status {
  font: 200 14px/20px "Oxygen", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/* Chat body */
.chat-body .answer.left {
  padding: 0 0 0 58px;
  text-align: left;
  float: left; }

.chat-body .answer {
  position: relative;
  max-width: 600px;
  overflow: hidden;
  clear: both; }

.chat-body .answer.left .avatar {
  left: 0; }

.chat-body .answer .avatar {
  bottom: 36px; }

.chat .avatar {
  width: 40px;
  height: 40px;
  position: absolute; }

.chat .avatar img {
  display: block;
  border-radius: 20px;
  height: 100%; }

.chat-body .answer .name {
  font-size: 14px;
  line-height: 36px; }

.chat-body .answer.left .avatar .status {
  right: 4px; }

.chat-body .answer .avatar .status {
  bottom: 0; }

.chat-body .answer.left .text {
  background: #ebebeb;
  color: #333333;
  border-radius: 8px 8px 8px 0; }

.chat-body .answer .text {
  padding: 12px;
  font-size: 16px;
  line-height: 26px;
  position: relative; }

.chat-body .answer.left .text:before {
  left: -30px;
  border-right-color: #ebebeb;
  border-right-width: 12px; }

.chat-body .answer .text:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  border: 18px solid transparent;
  border-bottom-width: 0; }

.chat-body .answer.left .time {
  padding-left: 12px;
  color: #333333; }

.chat-body .answer .time {
  font-size: 16px;
  line-height: 36px;
  position: relative;
  padding-bottom: 1px; }

/* Right section */
.chat-body .answer.right {
  padding: 0 58px 0 0;
  text-align: right;
  float: right; }

.chat-body .answer.right .avatar {
  right: 0; }

.chat-body .answer.right .avatar .status {
  left: 4px; }

.chat-body .answer.right .text {
  background: #222C3C;
  color: #ffffff;
  border-radius: 8px 8px 0 8px; }

.chat-body .answer.right .text:before {
  right: -30px;
  border-left-color: #222C3C;
  border-left-width: 12px; }

.chat-body .answer.right .time {
  padding-right: 12px;
  color: #333333; }

/* Add Form */
.chat-input {
  clear: both;
  position: relative;
  margin: 0;
  padding: 20px;
  background: #1576c2; }

.chat-input input {
  border: none;
  background: none;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  color: #ffffff; }

.chat input {
  -webkit-appearance: none;
  border-radius: 0; }

.chat-input .answer-btn-1 {
  background: url("../img/icons/icon-40.png") 50% 50% no-repeat;
  right: 56px; }

.chat-input .answer-btn {
  display: block;
  cursor: pointer;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  margin-top: -18px; }

.chat-input .answer-btn-2 {
  background: url("../img/icons/icon-41.png") 50% 50% no-repeat;
  right: 20px; }

.chat input::-webkit-input-placeholder {
  color: #fff; }

.chat input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff; }

.chat input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff; }

.chat input:-ms-input-placeholder {
  color: #fff; }

.chat input {
  -webkit-appearance: none;
  border-radius: 0; }




.ForgotPassword-input {
  margin-bottom: 0; }

.btn-github:hover {
  color: #fff; }

.btn-facebook:hover {
  color: #fff; }

.btn-google:hover {
  color: #fff; }





.RegisterForm-inputContainer {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 80%;
  min-width: 300px; }

.RegisterForm-submit {
  margin-bottom: 40px;
  margin-left: 0;
  width: 100%;
  padding: 5px 0; }


.ResetPassword-input {
  margin-bottom: 0; }


.Footer {
  text-align: center;
  background-color: #F6F9FA;
  border-top: 1px solid #E9F0F3;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #888888;
  font-weight: 300; }

.Footer-text {
  padding-top: 10px;
  opacity: 0.8;
  color: #888888; }

.Footer-link {
  text-decoration: none;
  color: #888888 !important;
  font-weight: 400; }

.Footer-link:hover {
  text-decoration: underline; }

.Footer-logo {
  width: 49px;
  height: 46px; }

.ForgotPassword-formContainer {
  margin-top: 80px;
  margin-bottom: 80px; }


.Landing {
  height: 100%; }

.Landing-cover {
  background-image: url("/img/cover.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 700px; }

.Landing-heading,
.Landing-subtitle {
  color: white; }

.Landing-headingLight {
  font-weight: 300; }

.Landing-heading {
  color: white;
  letter-spacing: -3px;
  margin-top: 20px;
  font-size: 60px;
  text-align: center; }

.Landing-subtitle {
  opacity: 0.7;
  text-align: center; }

.Landing-getStarted {
  padding: 12px 30px;
  font-weight: bold;
  color: #535362 !important;
  border-radius: 4px;
  text-transform: box-shadow 250ms; }

.Landing-getStarted:hover {
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12) !important; }

.Landing-laravelAngular {
  position: relative; }

.Landing-ampersand {
  font-size: 50px;
  color: #00A4C6;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 300; }

.Landing-angular {
  background-color: #F6F9FA;
  border-left: 1px solid #E9F0F3; }

.Landing-laravel,
.Landing-angular {
  text-align: center;
  color: #21455B;
  border-bottom: 1px solid #E9F0F3; }

.Landing-laravelAngular-title {
  padding-top: 30px;
  margin-bottom: 15px;
  font-weight: 300;
  letter-spacing: -1px;
  color: #21455B; }

.Landing-laravelAngular-subtitle {
  color: #535362;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 300; }

.DemoCode {
  font-family: "Lucida Console", Monaco, monospace;
  overflow: auto !important;
  padding: 10px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 80%;
  margin: 30px auto 100px;
  text-align: left;
  padding-left: 20px;
  font-size: 14px; }

.DemoCode-highlight {
  color: #DD4A68; }

.DemoCode-comment {
  color: #888888; }

.DemoCode-operator {
  color: #888888; }

.DemoCode-string {
  color: #690; }

.DemoCode-secondary {
  color: #07A; }

.Landing-features {
  text-align: center;
  margin: 60px 10px; }

.Landing-featuresMainTitle {
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 15px;
  color: #21455B; }

.Landing-featuresMainDescription {
  width: 70%;
  margin: 0 auto 30px;
  color: #535362;
  font-weight: 300; }

.Landing-featuresEntry {
  width: 176px;
  height: 176px;
  border-radius: 50%;
  margin: 40px auto 20px; }

.Landing-featuresEntry-icon {
  height: 100%; }

.Landing-featuresTitle {
  color: #21455B;
  letter-spacing: -1px;
  margin-top: 40px; }

.Landing-featuresDescription {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 300;
  color: #535362; }

.Landing-featuresEntry--restful {
  background-color: #00A4C6; }

.Landing-featuresEntry--jwt {
  background-color: #EF704D; }

.Landing-featuresEntry--generators {
  background-color: #25C0CC; }

.Landing-featuresEntry--restful md-icon {
  width: 100px; }

.Landing-featuresEntry--jwt md-icon {
  width: 80px; }

.Landing-featuresEntry--generators md-icon {
  width: 80px; }

/*
This is a terrible temporary hack,
to fix layout issues with flex on iOS (chrome & safari)
Make sure to remove this when you modify this demo
*/
@media only screen and (max-width: 950px) {
  .iOS-hack .flex-100,
  .iOS-hack .flex-50,
  .iOS-hack .flex-33 {
    -ms-flex: none !important;
    flex: none !important; } }

.dataTables_filter {
  float: right; }

.dataTables_filter input {
  margin: 0px 5px 0px 5px; }

.dataTables_paginate {
  float: right; }

.dataTables_paginate .pagination {
  margin: 0px; }

.Login-formContainer {
  margin-top: 80px;
  margin-bottom: 80px; }


.Register-formContainer {
  margin-top: 80px;
  margin-bottom: 80px; }

.ResetPassword-formContainer {
  margin-top: 80px;
  margin-bottom: 80px; }

.Login-formContainer {
  margin-top: 80px;
  margin-bottom: 80px; }

/*# sourceMappingURL=app.css.map */
