@import "./angular/material/project";

.user-profile-other{
    .panel.panel-default{
        border: none;
    }
    .user_profile_div{
        box-shadow: 0 0 8px #eee;
        background: url(/img/custom/profile_bg.png) repeat-x top;
        background-color: #fff;
        .button-div{
            display: flex;
            justify-content: flex-end;
            margin-top: 15px;
            a{
                background-color: #fff;
                margin: 15px 7px;
                opacity: 1 !important;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                text-align: center;
                font-size: 18px;
                color: #3993dd !important;
                &:hover{
                    color: #0361af !important;
                }
            }
        }
        .text-right{
            text-align: right;
        }
        .user_profile_pic_div{
            text-align: center;
            .profile_img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 10px solid #fff;
                margin: 0 auto;
                overflow: hidden;
            }
            .user-info-div{
                .user-name{
                    font-size: 30px;
                    margin: 20px;
                }
                .user-role{
                    color: #333;
                    font-size: 17px;
                    margin-bottom: 10px;
                    span{
                        &::after{
                            content: ',';
                            letter-spacing: 4px;
                        }
                        &:last-of-type{
                            &::after{
                                content: '';
                            }
                        }
                    }
                }
                .user-department{
                    color: #929292 !important;
                    font-size: 16px;
                }
            }
        }
        .user_detail_div{
            h5{
                font-weight: 500
            }
            .metric-div{
                border-top:1px solid rgba(0, 0, 0, 0.07);
                border-bottom:1px solid rgba(0, 0, 0, 0.07);
                padding: 25px 0px;
                text-align: center;
                font-size: 20px;
                font-weight: 500;
                color: #333;
                text-transform: uppercase;
                div{
                    display: inline-block;
                    padding: 0px 50px;
                    border-right: 1px solid rgba(0, 0, 0, 0.07);
                    &.post-div{
                        .number, .icon{
                            color: #0090d9;
                            font-weight: bold;
                        }
                    }
                    &.like-div{
                        .number, .icon{
                            color: #f76f8e;
                            font-weight: bold;
                        }
                    }
                    &.point-div{
                        .number, .icon{
                            color: #654fa8;
                            font-weight: bold;
                        }
                    }
                    .icon{
                        font-size: 18px;
                    }
                    &:last-of-type{
                        border-right: none;
                    }
                }
            }
            .about-me{
                h5{
                    text-transform: uppercase;
                    font-weight: bold;
                }
                padding: 20px 35px;
            }
        }
        .more-div{
            border-top:1px solid rgba(0, 0, 0, 0.07);
            padding: 0px 35px 20px 35px;
            h5{
                font-weight: 500;
                text-transform: uppercase;
                font-weight: bold;
                margin-top: 20px;
            }
            >div:first-of-type{
                padding-left: 0px;
                border-right:1px solid rgba(0, 0, 0, 0.07);
            }
            .activity-div{
                .pink{
                    background-color: $pink;
                }
                .user-photo{
                    position: absolute;
                    top: 0px;
                    border-radius: 50%;
                    overflow: hidden;
                }
                .timeline{
                    padding-top: 20px;
                    .event-date{
                        float: none;
                        opacity: 1;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .timeline-point{
                        top: 6px;
                        .user-photo{
                            cursor: pointer;
                            position: absolute;
                            top: -2px;
                            left: -3px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                    }
                    .card{
                        background-color: $background;
                        .card-description{
                            font-size: 13px !important;
                        }
                    }
                }
            }
            .mypost-div{
                .project-detail-view{
                    padding: 0px !important;
                    .main-content
                    {
                        padding: 30px 30px 10px 30px;
                        .user-info{
                            font-size: 15px;
                            .user-avatar{
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                overflow: hidden;
                            }
                            .user-detail{
                                margin-left: 15px;
                                .user-name{
                                    cursor: pointer;
                                    font-weight: 600;
                                    color: #3993dd;
                                }
                                p{
                                    font-size: 15px !important;
                                    padding: 2px 0px;
                                    margin-bottom: 0px;
                                }
                            }
                        }
                        .project-content{
                            .project-title{
                                font-size: 25px;
                                line-height: 34px;
                                padding: 15px 0px;
                                color: #333;
                                display: block;
                            }
                            .project-description{
                                font-size: 15px;
                                line-height: 23px;
                                display: block;
                                padding: 5px 0px;
                            }
                            .attachment-div{
                                padding: 5px 0px;
                                >span{
                                    text-transform: uppercase;
                                    color: #333;
                                    font-size: 12px;
                                    font-weight: 500;
                                }
                                .attachment-item{
                                    .attachment-info{
                                        display: flex;
                                        align-items: center;
                                        padding: 10px 0px 20px;
                                        font-size: 17px;
                                        display: block;
                                    }
                                    .image-div{
                                        width: 100%;
                                        height: 230px;
                                        background-position: center;
                                        background-size: cover;
                                    }
                                }
                            }
                            .status-div{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                font-size: 16px;
                                padding: 15px 0px;
                                i{
                                    font-size: 18px;
                                    color: #f76f83 !important;
                                }
                            }
                        }
                    }
                    .status-action-div{
                        font-size: 16px;
                        border-top: 1px solid #e4e4e4;
                        padding: 15px 30px;
                        display: flex;
                        align-items: center;
                        .like-div{
                            cursor: pointer;
                            i{
                                color: #f76f83 !important;

                            }
                            &:hover{
                                i{
                                    color: #da4a5f !important;
                                }
                            }
                        }
                        .comment-action-div{
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            .comment-image{
                                display: inline-block;
                                width: 17px;
                                height: 17px;
                                &.on{
                                    background: url(/img/custom/comment-bg.png) no-repeat;
                                }
                                background: url(/img/custom/comment.png) no-repeat;
                            }
                        }
                    }
                }
            }
        }
    }
}
