<!-- BEGIN SIDEBAR -->
<div class="page-sidebar" data-pages="sidebar" pg-sidebar>
    <div id="appMenu" class="sidebar-overlay-slide from-top">
    </div>
    <!-- BEGIN SIDEBAR HEADER -->
    <div class="sidebar-header">
        <a ui-sref="app.landing"><img src="assets/img/logo_white.png" alt="logo" class="brand" data-src="assets/img/logo_white.png" data-src-retina="assets/img/logo_white_2x.png" width="78" height="27"></a>
        <div class="sidebar-header-controls">
            <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline m-l-50" type="button"><i class="fa fs-12"></i></button>
        </div>
    </div>
    <!-- END SIDEBAR HEADER -->
    <!-- BEGIN SIDEBAR MENU -->
    <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
            <li class="m-t-30" ui-sref-active="active">
                <a ui-sref="app.landing">
					<span class="title">Dashboard</span>
				</a>
                <span class="icon-thumbnail">
					<i class="fa fa-dashboard"></i>
				</span>
            </li>
            <li  ui-sref-active="active">
                <a ui-sref="app.organiztion">
					<span class="title">Organization</span>
				</a>
                <span class="icon-thumbnail">
					<i class="fa fa-institution"></i>
				</span>
            </li>
            <li  ui-sref-active="active">
                <a ui-sref="app.preference">
							<span class="title">Preferences</span>
						</a>
                <span class="icon-thumbnail"><i class="fa fa-sliders"></i></span>
            </li>
            <li  ui-sref-active="active" ng-if="vm.hasAnyRole(['admin.super','admin.admin'])">
                <a href="javascript:;">
							<span class="title">Administration</span>
							<span class="arrow"></span>
						</a>
                <span class="icon-thumbnail"><i class="fa fa-server"></i></span>
                <ul class="sub-menu">
                    <li class="">
                        <a ui-sref="app.admin.users">Users</a>
                        <span class="icon-thumbnail">
									<i class="fa fa-users"></i>
								</span>
                    </li>
                    <li class="">
                        <a ui-sref="app.admin.departments">Departement</a>
                        <span class="icon-thumbnail">
									<i class="fa fa-sitemap"></i>
								</span>
                    </li>
                    <li class="">
                        <a ui-sref="app.admin.reward_management">Reward settings</a>
                        <span class="icon-thumbnail">
									<i class="fa fa-pie-chart"></i>
								</span>
                    </li>
                    <li class="">
                        <a ui-sref="app.admin.label_management">Label Management</a>
                        <span class="icon-thumbnail">
							<i class="fa fa-pie-chart"></i>
						</span>
                    </li>
                    <li class="">
                        <a ui-sref="app.admin.jobtitle_management">Jobtitle Management</a>
                        <span class="icon-thumbnail">
							<i class="fa fa-pie-chart"></i>
						</span>
                    </li>
                </ul>
            </li>
            <li  ui-sref-active="active">
                <a ui-sref="app.help">
							<span class="title">Help</span>
						</a>
                <span class="icon-thumbnail"><i class="fa fa-info-circle"></i></span>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
