<div id="side-panel" class="side-panel">
    <div class="panel-header">
        <h4 class="panel-title">Contacts</h4>
    </div>
    <div class="scrollable-container">
        <div class="media-group">
            <a href="javascript:void(0)" class="media-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/221.jpg" alt=""> <i class="status status-online"></i></div>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">John Doe</h5>
                        <small class="media-meta">active now</small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="media-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/205.jpg" alt=""> <i class="status status-online"></i></div>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">John Doe</h5>
                        <small class="media-meta">active now</small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="media-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/206.jpg" alt=""> <i class="status status-online"></i></div>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Adam Kiti</h5>
                        <small class="media-meta">active now</small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="media-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/207.jpg" alt=""> <i class="status status-away"></i></div>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Jane Doe</h5>
                        <small class="media-meta">away</small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="media-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/208.jpg" alt=""> <i class="status status-away"></i></div>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Sara Adams</h5>
                        <small class="media-meta">away</small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="media-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/209.jpg" alt=""> <i class="status status-away"></i></div>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Smith Doe</h5>
                        <small class="media-meta">away</small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="media-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/219.jpg" alt=""> <i class="status status-away"></i></div>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Dana Dyab</h5>
                        <small class="media-meta">away</small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="media-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/210.jpg" alt=""> <i class="status status-offline"></i></div>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Jeffry Way</h5>
                        <small class="media-meta">2 hours ago</small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="media-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/211.jpg" alt=""> <i class="status status-offline"></i></div>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Jane Doe</h5>
                        <small class="media-meta">5 hours ago</small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="media-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/212.jpg" alt=""> <i class="status status-offline"></i></div>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Adam Khoury</h5>
                        <small class="media-meta">22 minutes ago</small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="media-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/207.jpg" alt=""> <i class="status status-offline"></i></div>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Sara Smith</h5>
                        <small class="media-meta">2 days ago</small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="media-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/211.jpg" alt=""> <i class="status status-offline"></i></div>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Donia Dyab</h5>
                        <small class="media-meta">3 days ago</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
