<div class="container-fluid m-t-25">
    <!-- START ROW -->
    <div class="row">
        <div class="col-md-8 col-xlg-5">
            <div class="row">
                <div class="col-md-12 m-b-10">
                    <!-- START WIDGET widget_realtimeWidget-->
                    <div class="widget-8 panel no-border bg-success no-margin widget-loader-bar">
                        <div class="container-xs-height full-height">
                            <div class="row-xs-height">
                                <div class="col-xs-height col-top">
                                    <div class="panel-heading top-left top-right">
                                        <div class="panel-title text-black hint-text">
                                            <span class="font-montserrat fs-11 all-caps">Total points
                                                    </span>
                                        </div>
                                        <div class="panel-controls">
                                            <ul>
                                                <li>
                                                    <a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-xs-height ">
                                <div class="col-xs-height col-top relative">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="p-l-20">
                                                <h3 class="no-margin p-b-5 text-white">200</h3>
                                                <p class="small hint-text m-t-5">
                                                    <span class="label  font-montserrat m-r-5">60%</span>Higher
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                        </div>
                                    </div>
                                    <div class="widget-8-chart line-chart" data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2">
                                        <svg></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>

            </div>
            <div class="row">
                <!-- -->
                <div class="col-md-12 m-b-10">
                    <div class=" panel no-border  no-margin widget-loader-circle todolist-widget">
                        <div class="panel-heading">
                            <div class="panel-controls">
                                <ul>
                                    <li>
                                        <a href="#" class="portlet-refresh text-black" data-toggle="refresh">
												<i class="portlet-icon portlet-icon-refresh"></i>
											</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs nav-tabs-simple" role="tablist" data-init-reponsive-tabs="collapse">
                                <li class="active">
                                    <a href="#project" data-toggle="tab" role="tab" aria-expanded="true">My project</a>
                                </li>
                                <li class="">
                                    <a href="#contributed" data-toggle="tab" role="tab" aria-expanded="false">Contributed projects</a>
                                </li>
                            </ul>
                            <div class="tab-content no-padding">
                                <div class="tab-pane active" id="project">
                                    <div class="split-view">
                                        <div class="split-list">
                                            <a class="list-refresh" href="javascript:;"><i class="fa fa-refresh"></i></a>
                                            <div class="list-view">
                                                <div class="list-view-group-container">
                                                    <ul class="no-padding">
                                                        <li class="item padding-15" ng-repeat="item in vm.myProjects" ng-click="vm.detailView(item)">
                                                            <div class="m-l-15">
                                                                <p class="recipients no-margin hint-text small">
                                                                    <a href="profile.html">{{item.user.name}}</a>,  <span class="user_dep" ng-repeat="user_department in item.user.departments">{{user_department.name}}</span>
                                                                </p>
                                                                <a class="subject no-margin" href="javascript:;">{{item.title}}</a>
                                                                <p class="body no-margin">
                                                                    {{item.objective}}
                                                                </p>
                                                            </div>
                                                            <div class="datetime" am-time-ago="item.created_at | amUtc | amLocal"></div>
                                                            <div class="pull-left m-l-15">
                                                                <span>
																		<i class="fa fa-heart" aria-hidden="true"></i> {{item.votes.length}}
																	</span>
                                                                <span>
																		<i class="fa fa-comments-o" aria-hidden="true"></i> {{item.comments.length}}
																	</span>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane no-padding" id="contributed">
                                    <div class="split-view">
                                        <div class="split-list">
                                            <a class="list-refresh" href="javascript:;"><i class="fa fa-refresh"></i></a>
                                            <div class="list-view">
                                                <div class="list-view-group-container">
                                                    <ul class="no-padding">
                                                        <li class="item padding-15" ng-repeat="item in vm.myContributedProjects" ng-click="vm.detailView(item)">
                                                            <div class="m-l-15">
                                                                <p class="recipients no-margin hint-text small">
                                                                    <a href="profile.html">{{item.user.name}}</a>,  <span class="user_dep" ng-repeat="user_department in item.user.departments">{{user_department.name}}</span>
                                                                </p>
                                                                <a class="subject no-margin" href="javascript:;">{{item.title}}</a>
                                                                <p class="body no-margin">
                                                                    {{item.objective}}
                                                                </p>
                                                            </div>
                                                            <div class="datetime" am-time-ago="item.created_at | amUtc | amLocal"></div>
                                                            <div class="pull-left m-l-15">
                                                                <span>
																		<i class="fa fa-heart" aria-hidden="true"></i> {{item.votes.length}}
																	</span>
                                                                <span>
																		<i class="fa fa-comments-o" aria-hidden="true"></i> {{item.comments.length}}
																	</span>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 m-b-10">
                    <!-- START WIDGET widget_realtimeWidget-->
                    <div class="widget-9 panel no-border bg-primary no-margin widget-loader-bar">
                        <div class="container-xs-height full-height">
                            <div class="row-xs-height">
                                <div class="col-xs-height col-top">
                                    <div class="panel-heading  top-left top-right">
                                        <div class="panel-title text-black">
                                            <span class="font-montserrat fs-11 all-caps">Weekly upvotes
</span>
                                        </div>
                                        <div class="panel-controls">
                                            <ul>
                                                <li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-xs-height">
                                <div class="col-xs-height col-top">
                                    <div class="p-l-20 p-t-15">
                                        <h3 class="no-margin p-b-5 text-white">{{vm.upvote}}</h3>
                                        <a href="#" class="btn-circle-arrow text-white"><i class="pg-arrow_minimize"></i>
</a>
                                        <span class="small hint-text">65% lower than last month</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row-xs-height">
                                <div class="col-xs-height col-bottom">
                                    <div class="progress progress-small m-b-20">

                                        <div class="progress-bar progress-bar-white" style="width:15%"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>
            </div>

        </div>
        <div class="col-md-4 col-xlg-4">
            <div class="row">
                <div class="col-md-12 m-b-10">
                    <div class="widget-1-wrapper">
                        <div class="panel">
                            <div class="panel-body no-padding">
                                <div class="p-t-40 p-b-20">
                                    <div class="feed-div" scroll-to-bottom="vm.feed_list" >
                                        <div class="row p-l-20 p-r-20 p-b-30" ng-repeat="item in vm.feed_list">
                                            <div class="thumbnail-wrapper d32 circular b-white m-r-10 b-a b-white">
                                                <img check-image  ng-src="{{item.user.avatar}}" alt=""  width="30" height="30">
                                            </div>
                                            <div class="col-sm-10 col-xs-12 no-padding">

                                                <span class="text-black">{{item.user.name}}</span>


                                                <p>{{item.message}}</p>

                                                <div class="clearfix">
                                                    <span class="pull-right small hint-text" am-time-ago="item.created_at | amUtc | amLocal"></span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="row b-t b-grey p-t-20 p-l-20 p-r-20">
                                        <div class="thumbnail-wrapper d32 circular b-white m-r-10  b-a b-white">
                                            <img check-image  ng-src="{{vm.userInfo.avatar}}" alt=""  width="30" height="30">
                                        </div>
                                        <div class="col-sm-10 no-padding">
                                            <span class="text-black">{{vm.userInfo.name}}</span>
                                            <div class="input-group transparent no-border full-width">
                                                <textarea rows="2" ng-model="vm.feed" placeholder="Write a comment.." class="no-border fs-14 p-l-0 p-t-5 p-b-10 full-width"></textarea>
                                            </div>
                                            <div class="clearfix">
                                                <div class="pull-right">
                                                    <a href="javascript:;" ng-click="vm.postFeed(vm.feed)" class="btn btn-link font-montserrat text-uppercase text-complete fs-12">Comment</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Filler -->
        <div class="visible-xlg col-xlg-3" style="display:none">
            <div class="ar-2-3">
                <!-- START WIDGET widget_tableWidget-->
                <div class="widget-11 panel no-border  no-margin widget-loader-bar">
                    <div class="panel-heading ">
                        <div class="panel-title">Today's Table
                        </div>
                        <div class="panel-controls">
                            <ul>
                                <li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-l-25 p-r-25 p-b-20">
                        <div class="pull-left">
                            <h2 class="text-success no-margin">webarch</h2>
                        </div>
                        <h3 class="pull-right semi-bold">
                                                <sup>
								<small class="semi-bold">$</small>
							</sup> 102,967
                                            </h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-11-table auto-overflow">
                        <table class="table table-condensed table-hover">
                            <tbody>
                                <tr>
                                    <td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
                                    <td class="text-right">
                                        <span class="hint-text small">dewdrops</span>
                                    </td>
                                    <td class="text-right b-r b-dashed b-grey">
                                        <span class="hint-text small">Qty 1</span>
                                    </td>
                                    <td>
                                        <span class="font-montserrat fs-18">$27</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="padding-25">
                        <p class="small no-margin">
                            <a href="#"><i class="fa fs-16 fa-arrow-circle-o-down text-success m-r-10"></i></a>
                            <span class="hint-text ">Show more details of APPLE . INC</span>
                        </p>
                    </div>
                </div>
                <!-- END WIDGET -->
            </div>
        </div>
    </div>
    <!-- END ROW -->
</div>
