<section class="app-content">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="widget p-md clearfix">
                <div class="pull-left">
                    <h3 class="widget-title">Welcome to Efico</h3>
                    <small class="text-color">Number of projects</small>
                </div>
                <span class="pull-right fz-lg fw-500 counter" data-plugin="counterUp">144000</span>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="widget p-md clearfix">
                <div class="pull-left">
                    <h3 class="widget-title">Active</h3>
                    <small class="text-color">Projects</small>
                </div>
                <span class="pull-right fz-lg fw-500 counter" data-plugin="counterUp">183</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="widget stats-widget">
                <div class="widget-body clearfix">
                    <div class="pull-left">
                        <h3 class="widget-title text-primary">
              <span class="counter" data-plugin="counterUp">66</span>
            </h3>
                        <small class="text-color">Total Approved</small>
                    </div>
                    <span class="pull-right big-icon watermark"><i class="fa fa-paperclip"></i></span>
                </div>
                <footer class="widget-footer bg-primary"><small>% charge</small> <span class="small-chart pull-right" data-plugin="sparkline" data-options="[4,3,5,2,1], { type: 'bar', barColor: '#ffffff', barWidth: 5, barSpacing: 2 }"></span></footer>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="widget stats-widget">
                <div class="widget-body clearfix">
                    <div class="pull-left">
                        <h3 class="widget-title text-success">
              <span class="counter" data-plugin="counterUp">83</span>
            </h3>
                        <small class="text-color">Total Reconized</small>
                    </div>
                    <span class="pull-right big-icon watermark"><i class="fa fa-unlock-alt"></i></span>
                </div>
                <footer class="widget-footer bg-success"><small>% charge</small> <span class="small-chart pull-right" data-plugin="sparkline" data-options="[2,4,3,4,3], { type: 'bar', barColor: '#ffffff', barWidth: 5, barSpacing: 2 }"></span></footer>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="widget stats-widget">
                <div class="widget-body clearfix">
                    <div class="pull-left">
                        <h3 class="widget-title text-warning">
              <span class="counter" data-plugin="counterUp">34</span>
            </h3>
                        <small class="text-color">Total Pending</small>
                    </div>
                    <span class="pull-right big-icon watermark"><i class="fa fa-file-text-o"></i></span>
                </div>
                <footer class="widget-footer bg-warning"><small>% charge</small> <span class="small-chart pull-right" data-plugin="sparkline" data-options="[5,4,3,5,2],{ type: 'bar', barColor: '#ffffff', barWidth: 5, barSpacing: 2 }"></span></footer>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="widget stats-widget">
                <div class="widget-body clearfix">
                    <div class="pull-left">
                        <h3 class="widget-title text-danger">
              <span class="counter" data-plugin="counterUp">3</span>
            </h3>
                        <small class="text-color">Total Dismissed</small>
                    </div>
                    <span class="pull-right big-icon watermark"><i class="fa fa-ban"></i></span>
                </div>
                <footer class="widget-footer bg-danger"><small>% charge</small> <span class="small-chart pull-right" data-plugin="sparkline" data-options="[1,2,3,5,4], { type: 'bar', barColor: '#ffffff', barWidth: 5, barSpacing: 2 }"></span></footer>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="widget">
                <header class="widget-header">
                    <h4 class="widget-title">Feeds</h4>
                </header>
                <hr class="widget-separator">
                <div class="widget-body">
                    <div class="media-group feeds-group">
                        <div class="media-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <div class="avatar avatar-sm avatar-circle"><img src="eficos/img/217.jpg" alt=""></div>
                                </div>
                                <div class="media-body">
                                    <h5><a href="javascript:void(0)" class="text-color">Some of the fantastic things people have had to say about Ooooh</a></h5>
                                    <small class="text-muted">2 days ago</small>
                                </div>
                            </div>
                        </div>
                        <div class="media-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <div class="avatar avatar-sm avatar-circle"><img src="eficos/img/218.jpg" alt=""></div>
                                </div>
                                <div class="media-body">
                                    <h5><a href="javascript:void(0)" class="text-color">Here are just some of the magazine reviews we have had</a></h5>
                                    <small class="text-muted">1 day ago</small>
                                </div>
                            </div>
                        </div>
                        <div class="media-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <div class="avatar avatar-sm avatar-circle"><img src="eficos/img/219.jpg" alt=""></div>
                                </div>
                                <div class="media-body">
                                    <h5><a href="javascript:void(0)" class="text-color">Lorem ipsum dolor amet, consectetur adipisicing elit.</a></h5>
                                    <small class="text-muted">2 days ago</small>
                                </div>
                            </div>
                        </div>
                        <div class="media-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <div class="avatar avatar-sm avatar-circle"><img src="eficos/img/215.jpg" alt=""></div>
                                </div>
                                <div class="media-body">
                                    <h5><a href="javascript:void(0)" class="text-color">“It’s just brilliant. I will recommend it to everyone!”</a></h5>
                                    <small class="text-muted">2 mins ago</small>
                                </div>
                            </div>
                        </div>
                        <div class="media-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <div class="avatar avatar-sm avatar-circle"><img src="eficos/img/221.jpg" alt=""></div>
                                </div>
                                <div class="media-body">
                                    <h5><a href="javascript:void(0)" class="text-color">John has just started working on the project</a></h5>
                                    <small class="text-muted">right now</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="widget">
                <header class="widget-header">
                    <h4 class="widget-title">Streams</h4>
                </header>
                <hr class="widget-separator">
                <div class="widget-body">
                    <div class="streamline m-l-lg">
                        <div class="sl-item p-b-md">
                            <div class="sl-avatar avatar avatar-sm avatar-circle"><img class="img-responsive" src="eficos/img/221.jpg" alt="avatar"></div>
                            <div class="sl-content m-l-xl">
                                <h5 class="m-t-0"><a href="javascript:void(0)" class="m-r-xs theme-color">John Doe</a><small class="text-muted fz-sm">last month</small></h5>
                                <p>John has just started working on the project</p>
                            </div>
                        </div>
                        <div class="sl-item p-b-md">
                            <div class="sl-avatar avatar avatar-sm avatar-circle"><img class="img-responsive" src="eficos/img/214.jpg" alt="avatar"></div>
                            <div class="sl-content m-l-xl">
                                <h5 class="m-t-0"><a href="javascript:void(0)" class="m-r-xs theme-color">Jane Doe</a><small class="text-muted fz-sm">last month</small></h5>
                                <p>Jane sent you invitation to attend the party</p>
                            </div>
                        </div>
                        <div class="sl-item p-b-md">
                            <div class="sl-avatar avatar avatar-sm avatar-circle"><img class="img-responsive" src="eficos/img/217.jpg" alt="avatar"></div>
                            <div class="sl-content m-l-xl">
                                <h5 class="m-t-0"><a href="javascript:void(0)" class="m-r-xs theme-color">Sally Mala</a><small class="text-muted fz-sm">last month</small></h5>
                                <p>Sally added you to her circles</p>
                            </div>
                        </div>
                        <div class="sl-item p-b-md">
                            <div class="sl-avatar avatar avatar-sm avatar-circle"><img class="img-responsive" src="eficos/img/211.jpg" alt="avatar"></div>
                            <div class="sl-content m-l-xl">
                                <h5 class="m-t-0"><a href="javascript:void(0)" class="m-r-xs theme-color">Sara Adams</a><small class="text-muted fz-sm">last month</small></h5>
                                <p>Sara has finished her task</p>
                            </div>
                        </div>
                        <div class="sl-item p-b-md">
                            <div class="sl-avatar avatar avatar-sm avatar-circle"><img class="img-responsive" src="eficos/img/214.jpg" alt="avatar"></div>
                            <div class="sl-content m-l-xl">
                                <h5 class="m-t-0"><a href="javascript:void(0)" class="m-r-xs theme-color">Sandy Doe</a><small class="text-muted fz-sm">last month</small></h5>
                                <p>Sara has finished her task</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="side-panel" class="side-panel">
      <div class="panel-header">
        <h4 class="panel-title">Contacts</h4>
      </div>
      <div class="scrollable-container">
        <div class="media-group">
          <a href="javascript:void(0)" class="media-group-item">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/221.jpg" alt=""> <i class="status status-online"></i></div>
              </div>
              <div class="media-body">
                <h5 class="media-heading">John Doe</h5>
                <small class="media-meta">active now</small>
              </div>
            </div>
          </a>
          <a href="javascript:void(0)" class="media-group-item">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/205.jpg" alt=""> <i class="status status-online"></i></div>
              </div>
              <div class="media-body">
                <h5 class="media-heading">John Doe</h5>
                <small class="media-meta">active now</small>
              </div>
            </div>
          </a>
          <a href="javascript:void(0)" class="media-group-item">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/206.jpg" alt=""> <i class="status status-online"></i></div>
              </div>
              <div class="media-body">
                <h5 class="media-heading">Adam Kiti</h5>
                <small class="media-meta">active now</small>
              </div>
            </div>
          </a>
          <a href="javascript:void(0)" class="media-group-item">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/207.jpg" alt=""> <i class="status status-away"></i></div>
              </div>
              <div class="media-body">
                <h5 class="media-heading">Jane Doe</h5>
                <small class="media-meta">away</small>
              </div>
            </div>
          </a>
          <a href="javascript:void(0)" class="media-group-item">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/208.jpg" alt=""> <i class="status status-away"></i></div>
              </div>
              <div class="media-body">
                <h5 class="media-heading">Sara Adams</h5>
                <small class="media-meta">away</small>
              </div>
            </div>
          </a>
          <a href="javascript:void(0)" class="media-group-item">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/209.jpg" alt=""> <i class="status status-away"></i></div>
              </div>
              <div class="media-body">
                <h5 class="media-heading">Smith Doe</h5>
                <small class="media-meta">away</small>
              </div>
            </div>
          </a>
          <a href="javascript:void(0)" class="media-group-item">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/219.jpg" alt=""> <i class="status status-away"></i></div>
              </div>
              <div class="media-body">
                <h5 class="media-heading">Dana Dyab</h5>
                <small class="media-meta">away</small>
              </div>
            </div>
          </a>
          <a href="javascript:void(0)" class="media-group-item">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/210.jpg" alt=""> <i class="status status-offline"></i></div>
              </div>
              <div class="media-body">
                <h5 class="media-heading">Jeffry Way</h5>
                <small class="media-meta">2 hours ago</small>
              </div>
            </div>
          </a>
          <a href="javascript:void(0)" class="media-group-item">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/211.jpg" alt=""> <i class="status status-offline"></i></div>
              </div>
              <div class="media-body">
                <h5 class="media-heading">Jane Doe</h5>
                <small class="media-meta">5 hours ago</small>
              </div>
            </div>
          </a>
          <a href="javascript:void(0)" class="media-group-item">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/212.jpg" alt=""> <i class="status status-offline"></i></div>
              </div>
              <div class="media-body">
                <h5 class="media-heading">Adam Khoury</h5>
                <small class="media-meta">22 minutes ago</small>
              </div>
            </div>
          </a>
          <a href="javascript:void(0)" class="media-group-item">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/207.jpg" alt=""> <i class="status status-offline"></i></div>
              </div>
              <div class="media-body">
                <h5 class="media-heading">Sara Smith</h5>
                <small class="media-meta">2 days ago</small>
              </div>
            </div>
          </a>
          <a href="javascript:void(0)" class="media-group-item">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-xs avatar-circle"><img src="eficos/img/211.jpg" alt=""> <i class="status status-offline"></i></div>
              </div>
              <div class="media-body">
                <h5 class="media-heading">Donia Dyab</h5>
                <small class="media-meta">3 days ago</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
