<section class="app-content">
    <div ng-if="vm.openChanelId" class="row">
        <div class="col-md-9">
            <div class="widget">
                <header class="widget-header">
                    <h4 class="widget-title">Chat</h4>
                </header>
                <hr class="widget-separator">
                <div class="chat-wrapper">
                    <div class="chat convo">
                        <ul class="chat-body"  scroll-to-bottom="vm.messageList">
                            <li ng-repeat="(key, messageItem) in  vm.messageList" class="answer" ng-class="{right:vm.userInfo.id == messageItem.user.id, left:vm.userInfo.id != messageItem.user.id}">
                                <div class="avatar">
                                    <img alt="User name" src="eficos/img/208.jpg">
                                    <div ng-class="{online: userInfo.active==1,offline:userInfo.active==0}" class="status"></div>
                                </div>
                                <div class="name">{{messageItem.user.name}}</div>
                                <div class="text">
                                    {{messageItem.message}}
                                </div>
                                <div class="time">5 min ago</div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-input">
                        <input ng-model = "vm.message" placeholder="Write a message" ng-keyup="$event.keyCode == 13 && vm.sendMessage(vm.message)">
                        <a class="answer-btn" ng-click="vm.sendMessage(vm.message)">Send</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row chat-uesr-list">
      <ul class="chat-user-list-body">
        <li ng-repeat="(key, userInfo) in  vm.chatUsers" ng-click="vm.openChanel(userInfo)" class="user-info" ng-class="{active: userInfo.id==vm.openChanelId}">
            <p>{{userInfo.name}}</p>
        </li>
      </ul>
    </div>
</section>
