<section class="app-content">
    <div class="row">
        <div class="col-md-9">
            <div class="widget">
                <header class="widget-header">
                    <h4 class="widget-title">Sara Adams</h4>
                </header>
                <hr class="widget-separator">
                <div class="">
                    <div class="chat convo">
                        <ul class="chat-body">
                            <li class="answer left">
                                <div class="avatar">
                                    <img alt="User name" src="eficos/img/208.jpg">
                                    <div class="status offline"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </li>
                            <li class="answer right">
                                <div class="avatar">
                                    <img alt="User name" src="eficos/img/221.jpg">
                                    <div class="status offline"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </li>
                            <li class="answer left">
                                <div class="avatar">
                                    <img alt="User name" src="eficos/img/208.jpg">
                                    <div class="status online"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text"> ...</div>
                                <div class="time">5 min ago</div>
                            </li>
                            <li class="answer right">
                                <div class="avatar">
                                    <img alt="User name" src="eficos/img/221.jpg">
                                    <div class="status busy"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    It is a long established fact that a reader will be. Thanks Mate!
                                </div>
                                <div class="time">5 min ago</div>
                            </li>
                            <li class="answer left">
                                <div class="avatar">
                                    <img alt="User name" src="eficos/img/208.jpg">
                                    <div class="status offline"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </li>
                            <li class="answer right">
                                <div class="avatar">
                                    <img alt="User name" src="eficos/img/221.jpg">
                                    <div class="status offline"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </li>
                            <li class="answer left">
                                <div class="avatar">
                                    <img alt="User name" src="eficos/img/208.jpg">
                                    <div class="status offline"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text"> ...</div>
                                <div class="time">5 min ago</div>
                            </li>
                        </ul>
                    </div>
                    <footer class="chat-input">
                        <input placeholder="Write a message">
                        <span class="answer-btn answer-btn-1"></span>
                        <span class="answer-btn answer-btn-2"></span>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
