<!-- START PAGE CONTENT -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
	<!-- START PANEL -->
	<h3 class="m-t-20 c_title">Project Details</h3>
	<div class="row">
		<div class="col-lg-4 col-md-12 ">
			<!-- START PANEL -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Attachments
					</div>
				</div>
				<div class="panel-body">
					<p>You can download attachments by clickig links below.</p>
					<br>
					<div class="row">
						<div class="col-md-12">
							<p ng-if="vm.images.length == 0">No Images</p>
							<ul ng-if="vm.images.length != 0 " class="gallery gallery1">
								<li ng-repeat="image in vm.images">
									<a ng-click="vm.openLightboxModal($index)">
								      <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
								    </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- END PANEL -->
		</div>
		<div class="col-lg-8 col-md-12 ">
			<!-- START PANEL -->
			<div class="panel panel-default project-datail">
				<div class="panel-heading">
					<div class="panel-title">Project Details
					</div>
				</div>
				<div class="panel-body">
					<div class="panel panel-transparent m-t-15">
						<div class="panel-body">
							<div ng-if="vm.projectDetail.status == 0" class="btn-group" style="width:200px;">
								<div class="btn-group btn-group-justified">
									<div class="btn-group">
										<button type="button" class="btn btn-danger" ng-click="vm.postProjectStatusUpdate({'id':vm.projectId,'status':'dismissed'})">
                                        <span class="p-t-5 p-b-5">
                                                    <i class="fa fa-close fs-15"></i>
                                                </span>
                                        <br>
                                        <span class="fs-11 font-montserrat text-uppercase">Dismiss</span>
                                    </button>
									</div>
									<div class="btn-group">
										<button type="button" class="btn btn-primary" ng-click="vm.postProjectStatusUpdate({'id':vm.projectId,'status':'approved'})">
                                        <span class="p-t-5 p-b-5">
                                                    <i class="fa fa-save fs-15"></i>
                                                </span>
                                        <br>
                                        <span class="fs-11 font-montserrat text-uppercase">Recognize</span>
                                    </button>
									</div>
								</div>
							</div>
							<div ng-if="vm.projectDetail.status == 1" class="btn-group" style="width:100px;">
								<div class="btn-group btn-group-justified">
									<div class="btn-group">
										<button type="button" class="btn btn-complete" ng-click="vm.postProjectStatusUpdate({'id':vm.projectId,'status':'opened'})">
	                                        <span class="p-t-5 p-b-5">
	                                            <i class="fa fa-share fs-15"></i>
	                                        </span>
	                                        <br>
	                                        <span class="fs-11 font-montserrat text-uppercase">Hold</span>
	                                    </button>
									</div>
								</div>
							</div>
							<div ng-if="vm.projectDetail.status == 2" class="btn-group" style="width:100px;">
								<div class="btn-group btn-group-justified">
									<div class="btn-group">
										<button type="button" class="btn btn-complete" ng-click="vm.postProjectStatusUpdate({'id':vm.projectId,'status':'0'})">
	                                        <span class="p-t-5 p-b-5">
	                                            <i class="fa fa-share fs-15"></i>
	                                        </span>
	                                        <br>
	                                        <span class="fs-11 font-montserrat text-uppercase">Reopen</span>
	                                    </button>
									</div>
								</div>
							</div>
							<div ng-if="vm.projectDetail.status != 2" class="btn-group pull-right" style="width:100px;">
								<div class="btn-group btn-group-justified">
									<div class="btn-group">
										<button type="button" class="btn btn-success">
                                        <span class="p-t-5 p-b-5">
                                                    <i class="fa fa-star fs-15"></i>
                                                </span>
                                        <br>
                                        <span class="fs-11 font-montserrat text-uppercase">Favourite</span>
                                    </button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-transparent m-t-15">
						<div class="panel-heading">
							<h3 class="pull-left text-primary no-margin project-title">{{vm.projectDetail.title}}</h3>
							<div class="pull-right m-t-10 label-div">
								<span class="label label-success" ng-style="{'background-color':item.color}" ng-repeat="item in vm.projectDetail.label">{{item.name}}</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-body">
							<p class="">{{vm.projectDetail.ago_time}}</p>
							<br/>
							<a class="btn btn-default btn-cons btn-rounded btn-notification-style m-b-10 active">Objective: {{vm.projectDetail.objective}}</a>
							<a class="btn btn-default btn-cons btn-rounded btn-notification-style m-b-10 active">Departments: {{vm.projectDetail.department.name}}</a>
						</div>
					</div>
					<div class="panel panel-transparent">
						<div class="panel-heading">
							<div class="panel-title">Description
							</div>
						</div>
						<div class="panel-body">
							<p>{{vm.projectDetail.description}}</p>
						</div>
					</div>
					<!-- END PANEL -->
				</div>
			</div>

			<div class="panel panel-default project-datail">
				<div class="panel-heading">
					<div class="panel-title">Comments
					</div>
				</div>
				<div class="panel-body">
					<div class="comment-box m-t-20">
						<div class="comment-item">
							<div class="comment-item-header">
								<div class="user-pic">
									<img alt="Profile Image" width="33" height="33" ui-jq="unveil" data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" src="assets/img/profiles/4x.jpg">
								</div>
								<h5>Andy Young</h5>
								<h6>Web Designer, QA
	                                <span class="location semi-bold pull-right"> 14 mins ago</span>
	                            </h6>
							</div>
							<div class="comment-item-body">
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
									It has survived not only five centuries.</p>
							</div>
						</div>
						<div class="comment-item">
							<div class="comment-item-header">
								<div class="user-pic">
									<img alt="Profile Image" width="33" height="33" ui-jq="unveil" data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" src="assets/img/profiles/4x.jpg">
								</div>
								<h5>Andy Young</h5>
								<h6>Web Designer, QA
	                                <span class="location semi-bold pull-right"> 14 mins ago</span>
	                            </h6>
							</div>
							<div class="comment-item-body">
								<p>What a lovely day! I think I should go and play outside.</p>
							</div>
						</div>
					</div>
					<div class="comment-input">
						<div class="row">
							<div class="form-group">
								<label for="name" class="col-md-12 control-label">Comment</label>
								<div class="col-md-12">
									<textarea class="form-control" id="name" placeholder="Type the comment"></textarea>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<button class="btn btn-primary btn-cons pull-right m-r-20">Post</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
