<!-- START PAGE CONTENT -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg project-view-page">
	<!-- START PANEL -->
	<div class="col-md-3 no-padding">
		<!-- START PANEL -->
		<div pg-portlet class="panel panel-default" progress='bar' progress-color='success'>
			<div class="panel-heading">
				<div class="panel-title">Managers
				</div>
				<div class="panel-controls">
                    <ul>
                        <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
                        </li>
                        <li><a class="portlet-refresh" href="" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>
                        </li>
                        <li><a class="portlet-close" href="" data-toggle="close"><i class="portlet-icon portlet-icon-close"></i></a>
                        </li>
                    </ul>
                </div>
			</div>
			<div class="panel-body">
				<p>You can manage project managers.</p>
				<br/>
				<div class="row">
					<div class="col-md-12">
						<div class="user-header m-b-10" ng-repeat="item in vm.progressManagerList">
							<div class="user-pic">
								<img alt="Profile Image" width="33" height="33" check-image ng-src="{{item.avatar}}">
							</div>
							<div class="pull-left">
								<h5>{{item.firstname + ' ' + item.lastname}}</h5>
								<h6 class="m-t-5"> <span ng-repeat="job_item in item.job_titles">{{job_item.title}}</span> </h6>
							</div>
							<div class="clearfix"></div>
						</div>
						<button type="button"  ng-click="vm.openAssignManagerModal()" ng-if="vm.service.hasRole(['user.decision_maker'],vm.userInfo.role)" class="btn btn-primary btn-cons btn-animated from-top fa fa-check fs-15">
                            <span class="fs-11 font-montserrat text-uppercase">Assign Project Manager(s)</span>
                        </button>
					</div>
				</div>
				<!-- END PANEL -->
			</div>
		</div>
		<div pg-portlet class="panel panel-default" progress='bar' progress-color='success'>
			<div class="panel-heading">
				<div class="panel-title">Status List
				</div>
				<div class="panel-controls">
                    <ul>
                        <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
                        </li>
                        <li><a class="portlet-refresh" href="" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>
                        </li>
                        <li><a class="portlet-close" href="" data-toggle="close"><i class="portlet-icon portlet-icon-close"></i></a>
                        </li>
                    </ul>
                </div>
			</div>
			<div class="panel-body">
				<p>Todo list here.</p>
				<div class="row">
					<p></p>
					<div class="col-md-12 m-t-10">
						<div ng-repeat="item in vm.progressDetail">
							<p>{{item.title}}</p>
							<uib-progressbar class="progress-striped active" value="((item.progress))" type="{{vm.getProgressColor(item.progress)}}">{{item.progress}}%</uib-progressbar>
						</div>
					</div>
				</div>
				<!-- END PANEL -->
			</div>
		</div>
		<div pg-portlet class="panel panel-default" id="portlet-todolist" progress='bar' progress-color='success'  on-refresh="vm.refreshEnd('#portlet-todolist')">
			<div class="panel-heading">
				<div class="panel-title">To Do List
				</div>
				<div class="panel-controls">
                    <ul>
                        <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
                        </li>
                        <li><a class="portlet-refresh" href="" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>
                        </li>
                        <li><a class="portlet-close" href="" data-toggle="close"><i class="portlet-icon portlet-icon-close"></i></a>
                        </li>
                    </ul>
                </div>
			</div>
			<div class="panel-body">
				<p>You can manage your Todo list here.</p>
				<div class="row m-b-10">
					<div class="col-sm-12" ng-if="vm.service.hasRole(['user.project_manager'],vm.userInfo.role) && vm.service.hasProject([vm.projectId],vm.userInfo.projects)">
						<button type="button"  ng-click="vm.addTodoListModal()" class="btn btn-primary btn-cons btn-animated from-top fa fa-plus-circle fs-15">
                            <span class="fs-11 font-montserrat text-uppercase">New Todos</span>
                        </button>
					</div>
				</div>
				<div class="panel-group todo-list-block" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default"  ng-repeat="item in vm.todos">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                            <div class="pull-left">
		                        <button class="btn btn-danger btn-xs btn-custom-xs remove-todo-btn" ng-click="vm.deleteTodoList(item.id)"><i class="fa fa-trash"></i></button>
                   			</div>
                            <a ng-class="{collapsed:!collapseOne[item.id]}" ng-click="collapseOne[item.id]=!collapseOne[item.id]" aria-expanded="true" aria-controls="collapseOne">
                             {{item.title}}
                            </a>

                          </h4>
                        </div>
                        <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" ng-class="{in:collapseOne[item.id]}">
                            <div class="panel-body todo-list">
								<div class="task-item" ng-repeat="task_item in item.tasks" ng-class="{'alert-success':task_item.is_approved == 1, 'alert-danger':task_item.is_approved == 2}">
									<p ng-class="{'task-approved':task_item.is_approved == 1}">{{task_item.title}}</p>
									<div class="action-div">
										<button ng-class="{'btn-primary':task_item.is_submitted == 1,'btn-success':task_item.is_submitted != 1}" ng-if="vm.service.hasTask(task_item,vm.userInfo.tasks)" class="btn btn-xs btn-custom-xs" ng-click="vm.openSubmitTaskModal(task_item)"><i class="fa fa-check"></i>Submit</button>
										<span ng-if="vm.service.hasProject([vm.projectId],vm.userInfo.projects) || vm.service.hasTodos([item.id],vm.userInfo.todos)" >
										<button ng-if="task_item.is_submitted == 1" ng-class="{'btn-primary':task_item.is_approved == 1,'btn-success':task_item.is_approved != 1}" class="btn btn-xs btn-custom-xs" ng-click="vm.openApproveTaskModal(task_item)"><i class="fa fa-check"></i></button>
										<button class="btn btn-primary btn-xs btn-custom-xs" ng-click="vm.editTaskModal(task_item)"><i class="fa fa-edit"></i></button>
				                        <button class="btn btn-danger btn-xs btn-custom-xs" ng-click="vm.deleteTask(task_item)"><i class="fa fa-trash"></i></button>
										</span>
									</div>
									<div style="clear:both"></div>
								</div>
								<button  ng-if="vm.service.hasProject([vm.projectId],vm.userInfo.projects) || vm.service.hasTodos([item.id],vm.userInfo.todos)" class="btn btn-primary btn-xs pull-right m-t-10" ng-click="vm.openTaskModal(item.id)"><i class="fa fa-plus"></i> New Task</button>
                            </div>
                        </div>
                    </div>
				</div>
				<!-- END PANEL -->
			</div>
		</div>
		<div pg-portlet id="portlet-linear-color" class="panel panel-default" progress='bar' progress-color='success' on-refresh="vm.refreshEnd('#portlet-linear-color')">
            <div class="panel-heading ">
                <div class="panel-title">Activities
                </div>
                <div class="panel-controls">
                    <ul>
                        <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
                        </li>
                        <li><a class="portlet-refresh" href="" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>
                        </li>
                        <li><a class="portlet-close" href="" data-toggle="close"><i class="portlet-icon portlet-icon-close"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body timeline-container top-circle">
				<section class="timeline">
		            <div class="timeline-block">
		                <div class="timeline-point success">
		                    <i class="pg-social"></i>
		                </div>
		                <div class="timeline-content">
							<!-- <div class="event-date">
		                        <h6 class="font-montserrat all-caps hint-text m-t-0">Apple Inc</h6>
		                        <small class="fs-12 hint-text">15 January 2015, 06:50 PM</small>
		                    </div>
		                    <div class="card share full-width">
		                        <div class="card-header clearfix">
		                            <div class="user-pic">
		                                <img alt="Profile Image" width="33" height="33" check-image src="">
		                            </div>
		                            <h5>Jeff Curtis</h5>
		                            <h6>Shared a Tweet</h6>
		                        </div>
		                        <div class="card-description">
		                            <p>User Created task 1</p>
		                        </div>
		                    </div> -->
		                </div>
		            </div>
				</section>
            </div>
        </div>
		<!-- START PANEL -->
		<div pg-portlet class="panel panel-default" progress='bar' progress-color='success'>
			<div class="panel-heading">
				<div class="panel-title">Attachments
				</div>
				<div class="panel-controls">
                    <ul>
                        <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
                        </li>
                        <li><a class="portlet-refresh" href="" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>
                        </li>
                        <li><a class="portlet-close" href="" data-toggle="close"><i class="portlet-icon portlet-icon-close"></i></a>
                        </li>
                    </ul>
                </div>
			</div>
			<div class="panel-body">
				<p>You can download attachments by clickig links below.</p>
				<br>
				<div class="row">
					<div class="col-md-12">
						<p ng-if="vm.images.length == 0">No Images</p>
						<ul ng-if="vm.images.length != 0 " class="gallery gallery1">
							<li ng-repeat="image in vm.images">
								<a ng-click="vm.openLightboxModal($index)">
								      <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- END PANEL -->
	</div>
	<div class="col-md-9 no-padding">
		<!-- START PANEL -->
		<div class="panel panel-default project-datail">
			<div class="panel-heading clearfix project-detail-heading">
				<div class="panel-title pull-left">Project Details
				</div>
				<div class="likes-div pull-right">
					<div class="p-t-5 p-b-5 p-r-15 like-div" ng-click="vm.toggleVote()">
						<i class="fa fs-20" ng-class="{'fa-heart': vm.projectDetail.is_upvote, 'fa-heart-o': !vm.projectDetail.is_upvote}"></i>
						<span>{{vm.projectDetail.vote_count}} likes</span>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="panel panel-transparent m-t-15">
					<div class="panel-heading">
						<h2 class="no-margin project-title">{{vm.projectDetail.title}}</h2>
						<div class="project-object-div">
							<p class="p-objective">{{vm.projectDetail.objective}}</p>
							<div class="m-t-10 label-div">
								<span class="label label-success" ng-style="{'background-color':item.color}" ng-repeat="item in vm.projectDetail.label">{{item.name}}</span>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="user-div">
							<img src="img/custom/time-clock.png" alt="img" class="brand">
							<span class="m-l-5 datetime" am-time-ago="vm.projectDetail.created_at | amUtc | amLocal"></span>
							<span class="m-l-5 m-r-5"> by </span>
							<span class="profile-link" ng-click="vm.viewProfile(vm.projectDetail.user)">
								<img class="user-img" width="25px" height="25px"  alt="" src="{{vm.projectDetail.user.avatar}}" check-image>
								<span class="user-name">{{vm.projectDetail.user.name}}</span>
							</span>
							<span class="m-l-5 m-r-5"> in </span>
							<span class="badge badge-success m-l-5" ng-repeat="dep_item in vm.projectDetail.user.departments">{{dep_item.name}}</span>
						</div>

						<div class="contributor-div">
							<span class="m-l-5 m-r-5"> Contributors: </span>
							<div class="detail-div">
								<span ng-repeat="item in vm.projectDetail.contributor" class="contributor-item">
									<span class="profile-link" ng-click="vm.viewProfile(item)">
										<img class="user-img" width="25px" height="25px"  alt="" src="{{item.avatar}}" check-image>
										<span class="user-name">{{item.name}}</span>
									</span>
									<span class="m-l-5 m-r-5"> in </span>
									<span class="badge badge-success m-l-5" ng-repeat="dep_item in item.departments">{{dep_item.name}}</span>
								</span>
							</div>
						</div>

						<div class="attachment-div">
							<span>Attachments</span>
							<div ng-repeat="(index,file_item) in vm.projectDetail.file" class="attachment-item">
								<a class="attachment-info" href="{{vm.getImageUrl(vm.projectDetail.id,file_item.filename)}}" download>
									<img src="img/custom/attachment.png" alt="img" class="brand"> <span>  {{file_item.org_filename}}</span>
								</a>
							</div>
						</div>

						<div class="description-div">
							<span>Description</span>
							<p class="m-t-10">{{vm.projectDetail.description}}</p>
						</div>
					</div>
				</div>
				<div class="panel panel-transparent m-t-15">
					<div class="panel-body custom-action-div">
						<div class="btn-group pull-right">
							<div class="btn-group">
								<div class="btn-group" ng-if="vm.service.hasRole(['user.decision_maker'],vm.userInfo.role) && vm.projectDetail.status == 0">
									<button type="button"  style="width:100px" class="btn btn-success" ng-click="vm.postProjectStatusUpdate({'id':vm.projectId,'status':'approved'})">
                                        <span class="p-t-5 p-b-5">
                                            <i class="fa fa-check fs-15"></i>
                                        </span>
                                        <br>
                                        <span class="fs-11 font-montserrat text-uppercase">Recognize</span>
                                    </button>
								</div>
								<div class="btn-group" ng-if="vm.service.hasRole(['user.decision_maker'],vm.userInfo.role) && vm.projectDetail.status == 0">
									<button type="button"  class="btn btn-success" ng-click="vm.postProjectStatusUpdate({'id':vm.projectId,'status':'dismissed'})">
                                        <span class="p-t-5 p-b-5">
                                            <i class="fa fa-close fs-15"></i>
                                        </span>
                                        <br>
                                        <span class="fs-11 font-montserrat text-uppercase">Dismiss</span>
                                    </button>
								</div>
								<div class="btn-group" ng-if="vm.service.hasRole(['user.decision_maker'],vm.userInfo.role) && vm.projectDetail.status == 1">
									<button type="button" class="btn btn-success" ng-click="vm.postProjectStatusUpdate({'id':vm.projectId,'status':'opened'})">
                                        <span class="p-t-5 p-b-5">
                                            <i class="fa fa-share fs-15"></i>
                                        </span>
                                        <br>
                                        <span class="fs-11 font-montserrat text-uppercase">Hold</span>
                                    </button>
								</div>
								<div class="btn-group" ng-if="vm.service.hasRole(['user.decision_maker'],vm.userInfo.role) && vm.projectDetail.status == 2">
									<button type="button" class="btn btn-success" ng-click="vm.postProjectStatusUpdate({'id':vm.projectId,'status':'0'})">
                                        <span class="p-t-5 p-b-5">
                                            <i class="fa fa-share fs-15"></i>
                                        </span>
                                        <br>
                                        <span class="fs-11 font-montserrat text-uppercase">Reopen</span>
                                    </button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END PANEL -->
			</div>
		</div>

		<project-comment commentcount="vm.projectDetail.comment_count"></project-comment>
	</div>
</div>

<!-- Add New Task Modal  -->
<div class="modal fade stick-up" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h4 class="p-b-5"><span class="semi-bold">{{vm.formType == 'add'?'New':'Edit'}}</span> Task</h4>
            </div>
            <form role="form" name="vm.addTaskForm" ng-submit="vm.addTask(vm.addTaskForm.$valid)" novalidate>
                <div class="modal-body">
                    <p class="small-text">{{vm.formType == 'add'?'Create':'Edit'}} a Task</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error': vm.addTaskForm.name.$invalid && ( vm.formSubmitted || vm.addTaskForm.name.$touched) }">
                                <label>Title</label>
                                <input id="departmentName" ng-model="vm.newTask.title" name="name" type="text" class="form-control" placeholder="Title" required>
                            </div>
                            <label class="error help-block" for="name" ng-show="vm.addTaskForm.name.$error.required && ( vm.formSubmitted || vm.addTaskForm.name.$touched)">This field is required.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div pg-form-group class="form-group form-group-default">
                                <label>Description</label>
                                <input id="description" ng-model="vm.newTask.description" type="text" class="form-control" placeholder="Description">
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-8">
								<div pg-form-group class="form-group form-group-default input-group">
			                        <label>Deadline</label>
			                        <input type="text" class="form-control" ng-model="vm.newTask.deadline" placeholder="Pick a date" name="deadline" ui-jq="datepicker" ui-options="vm.datapickerOption">
			                        <span class="input-group-addon">
		                              <i class="fa fa-calendar"></i>
		                            </span>
			                    </div>
							</div>
							<div class="col-md-4">
	                            <div class="form-group form-group-default input-group">
	                                <label class="inline">Assign Type</label>
	                                <span class="input-group-addon bg-transparent">
	                                  <input type="checkbox" class="js-switch" ng-model="vm.newTask.assign_type" ui-switch="{color: '#6d5cae',size : 'small'}"/>
	                                </span>
	                            </div>
	                        </div>
						</div>
					</div>
                    <div class="row" ng-if="vm.newTask.assign_type == 0">
                        <div class="col-md-12">
                            <div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{ 'has-error': vm.managers.sel == null && ( vm.formSubmitted || vm.addTaskForm.manager_sel.$touched) }">
                                <label class="">Manager</label>
                                <ui-select ng-model="vm.managers.sel" name="manager_sel" theme="bootstrap" search-enabled="false" ng-disabled="disabled" style="width:100%">
                                    <ui-select-match placeholder="Select Manager">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in vm.managers.list | propsFilter: {name: $select.search}">
                                        <span ng-bind-html="vm.trustAsHtml((item.name | highlight: $select.search))"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <label ng-show="vm.addTaskForm.manager_sel.$invalid && (vm.formSubmitted || vm.errors.department)" class="error help-block">{{vm.errors.department}}</label>
                            <label ng-show="vm.managers.sel == null && ( vm.formSubmitted || vm.addTaskForm.manager_sel.$touched)" class="error help-block">Manager is required.</label>
                        </div>
					</div>
					<div class="row" ng-if="vm.newTask.assign_type == 1">
						<div class="col-md-12">
							<div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{ 'has-error': vm.departments.sel == null && ( vm.formSubmitted || vm.createProjectForm.dep_sel.$touched) }">
								<label class="">Department</label>
								<ui-select ng-model="vm.departments.sel" name="dep_sel" theme="bootstrap" search-enabled="false" ng-disabled="disabled" style="width:100%">
									<ui-select-match placeholder="Select Department">{{$select.selected.name}}</ui-select-match>
									<ui-select-choices repeat="dItem in vm.departments.list | propsFilter: {name: $select.search, description: $select.search}">
										<span ng-if="dItem.p_dep_id != 0" style="margin-left:20px"></span>
										<span ng-bind-html="vm.trustAsHtml((dItem.name | highlight: $select.search))"></span> -
										<small ng-bind-html="vm.trustAsHtml((dItem.description | highlight: $select.search))"></small>
									</ui-select-choices>
								</ui-select>
							</div>
							<label ng-show="vm.addTaskForm.dep_sel.$invalid && (vm.formSubmitted || vm.errors.department)" class="error help-block">{{vm.errors.department}}</label>
							<label ng-show="vm.departments.sel == null && ( vm.formSubmitted || vm.addTaskForm.dep_sel.$touched)" class="error help-block">Department is required.</label>
						</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary  btn-cons">{{vm.formType == 'add'?'Add':'Edit'}}</button>
                    <button type="button" class="btn btn-cons" ng-click="vm.hideModal(2)">Close</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Add Todo list Modal  -->
<div class="modal fade stick-up" id="addTodoModal" tabindex="-1" role="dialog" aria-labelledby="addTodoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h4 class="p-b-5"><span class="semi-bold">New</span> Todo List</h4>
            </div>
            <form role="form" name="vm.addTodolistForm" ng-submit="vm.addTodoList(vm.addTodolistForm.$valid)" novalidate>
                <div class="modal-body">
                    <p class="small-text">Create a New Todo List</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error': vm.addTodolistForm.name.$invalid && ( vm.formSubmitted || vm.addTodolistForm.name.$touched) }">
                                <label>Title</label>
                                <input id="departmentName" ng-model="vm.newTodoList.title" name="name" type="text" class="form-control" placeholder="Title" required>
                            </div>
                            <label class="error help-block" for="name" ng-show="vm.addTodolistForm.name.$error.required && ( vm.formSubmitted || vm.addTodolistForm.name.$touched)">This field is required.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div pg-form-group class="form-group form-group-default">
                                <label>Description</label>
                                <input id="description" ng-model="vm.newTodoList.description" type="text" class="form-control" placeholder="Description">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{ 'has-error': vm.managers.sel == null && ( vm.formSubmitted || vm.addTodolistForm.manager_sel.$touched) }">
                                <label class="">Manager</label>
                                <ui-select ng-model="vm.managers.sel" name="manager_sel" theme="bootstrap" search-enabled="false" ng-disabled="disabled" style="width:100%">
                                    <ui-select-match placeholder="Select Manager">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in vm.managers.list | propsFilter: {name: $select.search}">
                                        <span ng-bind-html="vm.trustAsHtml((item.name | highlight: $select.search))"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <label ng-show="vm.addTodolistForm.manager_sel.$invalid && (vm.formSubmitted || vm.errors.department)" class="error help-block">{{vm.errors.department}}</label>
                            <label ng-show="vm.managers.sel == null && ( vm.formSubmitted || vm.addTodolistForm.manager_sel.$touched)" class="error help-block">Manager is required.</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary  btn-cons">Add</button>
                    <button type="button" class="btn btn-cons" ng-click="vm.hideModal(1)">Close</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Assign PM Modal  -->
<div class="modal fade stick-up" id="assignManagerModal" tabindex="-1" role="dialog" aria-labelledby="assignManagerModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h4 class="p-b-5"><span class="semi-bold">Approve</span> Task</h4>
            </div>
			<form role="form" name="vm.assignManagerForm" ng-submit="vm.assignManager(vm.assignManagerForm.$valid)" novalidate>
                <div class="modal-body">
                    <p class="small-text">Assign Project Managers</p>
					<div class="row">
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default form-group-default-select form-group-custom-select required" ng-class="{ 'has-error': vm.projectManagers.sel.length == 0 && ( vm.formSubmitted || vm.assignManagerForm.projectManagers.$touched) }">
                                <div ng-dropdown-multiselect="" translation-texts="{buttonDefaultText: 'Project Manager(s)'}" extra-settings="vm.projectManagers.setting" options="vm.projectManagers.list" selected-model="vm.projectManagers.sel"></div>
                            </div>
                            <label ng-show="vm.assignManagerForm.projectManagers.$invalid && (vm.formSubmitted || vm.errors.projectManager)" class="error help-block">{{vm.errors.projectManager}}</label>
                            <label ng-show="vm.projectManagers.sel.length == 0 && ( vm.formSubmitted || vm.assignManagerForm.projectManagers.$touched)" class="error help-block">Manager is required.</label>
						</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary  btn-cons">Add</button>
                    <button type="button" class="btn btn-cons" ng-click="vm.hideModal(5)">Close</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!-- Approve Task Modal  -->
<div class="modal fade stick-up" id="approveTaskModal" tabindex="-1" role="dialog" aria-labelledby="approveTaskModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h4 class="p-b-5"><span class="semi-bold">Approve</span> Task</h4>
            </div>
            <form>
                <div class="modal-body">
					<h3>
                    <span class="semi-bold">{{vm.newApproveTask.title}}</h3>
	                <p>{{vm.newApproveTask.description}}</p>
	                <br>
	                <div>
	                    <div class="profile-img-wrapper m-t-5 inline">
							<img width="35" height="35"  alt="" src="{{vm.newApproveTask.userinfo.name}}" check-image>
	                        <div class="chat-status available">
	                        </div>
	                    </div>
	                    <div class="inline m-l-10">
	                        <p class="small hint-text m-t-5">{{vm.newApproveTask.userinfo.name}}
	                        <br>Web Developer</p>
	                    </div>
	                </div>
					<h5 ng-if="vm.newApproveTask.attachFiles.length == 0">No Attachment Files</h5>
					<div ng-if="vm.newApproveTask.attachFiles.length != 0 ">
						<h5>Attachment Files</h5>
						<ul class="gallery gallery1">
							<li ng-repeat="image in vm.newApproveTask.attachFiles">
								<a>
								  <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
								</a>
							</li>
						</ul>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary  btn-cons" ng-click="vm.approveTask(1)">Approve</button>
                    <button type="button" class="btn btn-danger" ng-click="vm.approveTask(2)">Dismiss</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Submit Task Modal  -->
<div class="modal fade stick-up" id="submitTaskModal" tabindex="-1" role="dialog" aria-labelledby="submitTaskModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h4 class="p-b-5"><span class="semi-bold">Submit</span> Task</h4>
            </div>
			<form role="form" name="vm.submitTaskForm" ng-submit="vm.submitTask(vm.submitTaskForm.$valid)" novalidate>
                <div class="modal-body">
                    <p class="small-text">Create a New Todo List</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error': vm.submitTaskForm.name.$invalid && ( vm.formSubmitted || vm.submitTaskForm.name.$touched) }">
                                <label>Title</label>
                                <input id="departmentName" ng-model="vm.newSubmitTask.title" name="name" type="text" class="form-control" placeholder="Title" required>
                            </div>
                            <label class="error help-block" for="name" ng-show="vm.submitTaskForm.name.$error.required && ( vm.formSubmitted || vm.submitTaskForm.name.$touched)">This field is required.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div pg-form-group class="form-group form-group-default">
                                <label>Description</label>
                                <input id="description" ng-model="vm.newSubmitTask.description" type="text" class="form-control" placeholder="Description">
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="panel panel-transparent">
	                        <div class="panel-heading">
	                            <div class="panel-title">
	                                Project Files
	                            </div>
	                            <div class="tools">
	                                <a class="collapse" href="javascript:;"></a>
	                                <a class="config" data-toggle="modal" href="#grid-config"></a>
	                                <a class="reload" href="javascript:;"></a>
	                                <a class="remove" href="javascript:;"></a>
	                            </div>
	                        </div>
	                        <div class="panel-body no-scroll no-padding">
	                            <ng-dropzone class="dropzone" options="vm.dzOptions" callbacks="vm.dzCallbacks" methods="vm.dzMethods"></ng-dropzone>
	                        </div>
	                    </div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary  btn-cons">Add</button>
                    <button type="button" class="btn btn-cons" ng-click="vm.hideModal(3)">Close</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
