
<div class="container-fluid container-fixed-lg">
    <ul class="breadcrumb">
        <li>
            <a>Home</a>
        </li>
        <li>>Profie</a>
        </li>
        <li><a class="active">Password</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
    <!-- START PANEL -->
    <div class="panel panel-default col-md-8 col-md-offset-2 user_profile_edit_div">
        <div class="panel-heading">
            <div class="panel-title">Password Edit</div>
        </div>
        <div class="panel-body">
            <form class="p-t-15" role="form"  name="vm.passwordUpdateForm" ng-submit="vm.updatePassword(vm.passwordUpdateForm.$valid)" novalidate>
                <div class="row">
                    <div class="col-sm-12">
                        <div pg-form-group class="form-group form-group-default"  ng-class="{ 'has-error': vm.passwordUpdateForm.current_password.$invalid && ( vm.formSubmitted || vm.passwordUpdateForm.current_password.$touched) }">
                            <label>Current Password</label>
                            <input type="password" class="form-control" placeholder="Current Password" ng-model="vm.passwordInfo.current_password" name="current_password" ng-maxlength="30" required>
                        </div>
                        <label ng-show="vm.passwordUpdateForm.current_password.$error.required && ( vm.formSubmitted || vm.passwordUpdateForm.current_password.$touched)" class="error help-block">Password is required.</label>
                        <label ng-show="vm.passwordUpdateForm.current_password.$error.maxlength" class="error help-block">Username is too long.</label>
                        <label ng-show="vm.passwordUpdateForm.current_password.$invalid && (vm.formSubmitted || vm.errors.current_password)" class="error help-block">{{vm.errors.current_password}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div pg-form-group class="form-group form-group-default"  ng-class="{ 'has-error': vm.passwordUpdateForm.password.$invalid && ( vm.formSubmitted || vm.passwordUpdateForm.password.$touched) }">
                            <label>New Password</label>
                            <input type="password" class="form-control" placeholder="Password" ng-model="vm.passwordInfo.password" name="password" ng-minlength="8" ng-maxlength="50" required>
                        </div>
                        <label ng-show="vm.passwordUpdateForm.password.$error.required && ( vm.formSubmitted || vm.passwordUpdateForm.password.$touched)" class="error help-block">Password is required.</label>
                        <label ng-show="vm.passwordUpdateForm.password.$error.maxlength" class="error help-block">Password is too long.</label>
                        <label ng-show="vm.passwordUpdateForm.password.$invalid && vm.passwordUpdateForm.password.$error.minlength && vm.passwordUpdateForm.password.$touched" class="error help-block">Password is too short, Please enter more than 8 characters.</label>
                        <label ng-show="vm.passwordUpdateForm.password.$invalid && (vm.formSubmitted || vm.errors.password)" class="error help-block">{{vm.errors.password}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div pg-form-group class="form-group form-group-default"  ng-class="{ 'has-error': vm.passwordUpdateForm.password_confirmation.$invalid && ( vm.formSubmitted || vm.passwordUpdateForm.password_confirmation.$touched) }">
                          <label>Confirm Password</label>
                          <input type="password" class="form-control" placeholder="Password confirmation" ng-model="vm.passwordInfo.password_confirmation" password-verify="vm.passwordInfo.password" name="password_confirmation" ng-minlength="8" ng-maxlength="50" required>
                        </div>
                        <label ng-show="vm.passwordUpdateForm.password_confirmation.$error.required && ( vm.formSubmitted || vm.passwordUpdateForm.password_confirmation.$touched)" class="error help-block">Password confirmation is required.</label>
                        <label ng-show="vm.passwordUpdateForm.password_confirmation.$error.passwordVerify && ( vm.formSubmitted || vm.passwordUpdateForm.password_confirmation.$touched)" class="error help-block">Password confirmation does not match.</label>
                        <label ng-show="vm.passwordUpdateForm.password_confirmation.$error.maxlength" class="error help-block">Password confirmation is too long.</label>
                        <label ng-show="vm.passwordUpdateForm.password_confirmation.$invalid && vm.passwordUpdateForm.password_confirmation.$error.minlength && vm.passwordUpdateForm.password_confirmation.$touched" class="error help-block">Password confirmation is too short, Please enter more than 8 characters.</label>
                        <label ng-show="vm.passwordUpdateForm.password_confirmation.$invalid && (vm.formSubmitted || vm.errors.password_confirmation)" class="error help-block">{{vm.errors.password_confirmation}}</label>
                    </div>
                </div>
                <div class="row m-t-20 pull-right">
                    <button type="button" class="btn btn-danger btn-cons" ng-click="vm.backToprofile()">Back to Profile</button>
                    <button type="submit" class="btn btn-primary btn-cons ">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
