<!-- START PAGE CONTENT -->
<div class="split-view">
    <div data-email="opened" class="split-details">
        <div class="email-content-wrapper" style="">
            <div class="email-content row">
                <aside class="col-md-12">
                    <form>
                        <section>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default required">
                                            <label>TitlE</LAbel>
                                            <input class="form-control" required="" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default">
                                            <label>Labels</label>
                                            <input class="form-control" required="" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default required">
                                            <label>Departement</label>
                                            <input class="form-control" required="" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-default required">
                                            <label>Objective</label>
                                            <input class="form-control" required="" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Contributor(s)</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Files</label>
                                            <input class="form-control" required="" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-default">
                                <label class="control-label">Description</label>
                                <textarea class="form-control" style="height:60px;"></textarea>
                            </div>
                        </section>
                        <section class="pull-right">
                            <button type="button" class="btn btn-danger">
								<i class="fa fa-trash"></i>
							</button>
                            <button type="button" class="btn btn-success">
								<i class="fa fa-save"></i>
							</button>
                            <button type="submit" class="btn btn-primary">
								Publish
								<i class="fa fa-send"></i>
							</button>
                        </section>
                    </form>
                </aside>
            </div>
        </div>
    </div>
</div>
<script src="assets/plugins/summernote/js/summernote.min.js" type="text/javascript"></script>
