<div class="register-container full-height sm-p-t-30">
    <div class="container-sm-height full-height">
        <div class="row row-sm-height">
            <div class="col-sm-12 col-sm-height col-middle">
                <a ui-sref="app.landing"><img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" width="150" height="53"></a>
                <h3>Create New Account</h3>
                <p>
                    <small>Please input your information below</small>
                </p>
                <register-form></register-form>
            </div>
        </div>
    </div>
</div>
