<!-- <div class="simple-page">
    <div id="back-to-home"><a href="/" class="btn btn-outline btn-default"><i class="fa fa-home animated zoomIn"></i></a></div>
    <div class="simple-page-wrap">
        <div class="simple-page-logo animated swing"><a href="/"><span><i class="fa fa-gg"></i></span> <span>Efico</span></a></div>
        <register-form></register-form>
        <div class="simple-page-footer">
            <p><small>Do you have an account ?</small> <a ui-sref="login">SIGN IN</a></p>
        </div>
    </div>
</div> -->
<div class="register-container full-height sm-p-t-30">
    <div class="container-sm-height full-height">
        <div class="row row-sm-height">
            <div class="col-sm-12 col-sm-height col-middle">
                <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
                <h3>Pages makes it easy to enjoy what matters the most in your life</h3>
                <p>
                    <small>Create a pages account. If you have a facebook account, log into it for this process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#" class="text-info">Google</a></small>
                </p>
                <register-form></register-form>
            </div>
        </div>
    </div>
</div>
