<div class="simple-page">
    <div id="back-to-home"><a href="/" class="btn btn-outline btn-default"><i class="fa fa-home animated zoomIn"></i></a></div>
    <div class="simple-page-wrap">
        <div class="simple-page-logo animated swing"><a href="/"><span><i class="fa fa-gg"></i></span> <span>Efico</span></a></div>
        <register-form></register-form>
        <div class="simple-page-footer">
            <p><small>Do you have an account ?</small> <a ui-sref="login">SIGN IN</a></p>
        </div>
    </div>
</div>
