<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">User Table</div>
            <div class="clearfix"></div>
            <div class="pull-left">
                <div class="col-xs-12">
                    <input type="text" id="search-table" class="form-control pull-right" placeholder="Search" ng-keyup="vm.filter($event)">
                </div>
            </div>
            <div class="pull-right">
                <div class="col-xs-12">
                    <button id="show-modal" class="btn btn-primary btn-cons" ng-click="vm.addDepartment()"><i class="fa fa-plus"></i> Add row</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-hover" id="tableDepartments">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Parent</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{parent:item.p_dep_id == 0}" ng-repeat="item in vm.departments" on-finish-render="initDataTable">
                    <td>{{item.p_dep_id == 0 ? "+" : ""}}</td>
                    <td class="v-align-middle">
                        <p>{{item.name}}</p>
                    </td>
                    <td class="v-align-middle">
                    </td>
                    <td class="v-align-middle">
                        <p>{{item.description}}</p>
                    </td>
                    <td class="v-align-middle">
                        <span class="label" ng-class="{'label-success':item.active == 1,'label-danger':item.active == 0}">{{item.active == 1?'Enabled':'Disabled'}}</span>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-xs m-t-10" ng-click="vm.editDepartment({'data':item})"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-danger btn-xs m-t-10" ng-click="vm.removeDepartment({'id':item.id})"><i class="fa fa-remove"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->

<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="addDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="addDepartmentModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h4 class="p-b-5"><span class="semi-bold">New</span> Department</h4>
            </div>
            <form role="form" name="vm.addDepartmentForm" ng-submit="vm.addNewDepartment(vm.addDepartmentForm.$valid)" novalidate>
                <div class="modal-body">
                    <p class="small-text">Create a new Department</p>
                    <div class="row">
                        <div class="col-sm-8">
                            <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error': vm.addDepartmentForm.name.$invalid && ( vm.formSubmitted || vm.addDepartmentForm.name.$touched) }">
                                <label>name</label>
                                <input id="departmentName" ng-model="vm.newDepartment.name" name="name" type="text" class="form-control" placeholder="Name" required>
                            </div>
                            <label class="error help-block" for="name" ng-show="vm.addDepartmentForm.name.$error.required && ( vm.formSubmitted || vm.addDepartmentForm.name.$touched)">This field is required.</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-default input-group">
                                <label class="inline">Enable</label>
                                <span class="input-group-addon bg-transparent">
                                  <input type="checkbox" class="js-switch" ng-model="vm.newDepartment.active" ui-switch="{color: '#6d5cae',size : 'small'}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div pg-form-group class="form-group form-group-default form-group-default-select">
                                <label class="">Parent Department</label>
                                <ui-select ng-model="vm.p_department_sel.selected" theme="bootstrap">
                                    <ui-select-match placeholder="Select Department">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in vm.p_departments | filter: $select.search">
                                        <span ng-bind-html="vm.trustAsHtml((item.name | highlight: $select.search))"></span>
                                        <small ng-bind-html="vm.trustAsHtml((item.des | highlight: $select.search))"></small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div pg-form-group class="form-group form-group-default">
                                <label>Description</label>
                                <input id="description" ng-model="vm.newDepartment.des" type="text" class="form-control" placeholder="Description">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary  btn-cons">Add</button>
                    <button type="button" class="btn btn-cons" ng-click="vm.hideModal()">Close</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
