<!-- START PAGE CONTENT -->
<nav class="secondary-sidebar padding-30" style="">
    <a ui-sref="app.projects.create" class="btn btn-complete btn-block btn-compose m-b-30">
		<i calss="fa fa-plus"></i> Create
	</a>
    <p class="menu-title">BY DEPARTMENT</p>
    <ul class="main-menu scroll-content scroll-scrolly_visible">
        <li ng-class="{active: vm.depSel == 'all'}">
            <a href="javascript:;" ng-click="vm.getProjects({'type':'dep','value':'all'})">
                <div>
				<span class="title">
					<i class="fa fa-desktop"></i> All Department
				</span>
				<span class="badge pull-right">{{vm.totalProject}}</span>
                </div>
            </a>
        </li>
        <li ng-class="{active: vm.depSel == dep_item.id}" ng-repeat="dep_item in vm.departments">
            <a href="javascript:;" ng-click="vm.getProjects({'type':'dep','value':dep_item.id})">
                <div>
				<span class="title">
					<i class="fa fa-desktop"></i> {{dep_item.name}}
				</span>
				<span class="badge pull-right">{{dep_item.project_count.project_count}}</span>
                <div style="clear:both"></div>
                </div>
			</a>
            <ul ng-if="dep_item.child_department" class="sub-menu no-padding">
                <li ng-class="{active: vm.depSel == dep_child_item.id}" ng-repeat="dep_child_item in dep_item.child_department">
                    <a href="javascript:;" ng-click="vm.getProjects({'type':'dep','value':dep_child_item.id})">
                        <div>
                        <span class="title">{{dep_child_item.name}}</span>
                        <span class="badge pull-right">{{dep_child_item.project_count.project_count}}</span>
                        <div style="clear:both"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <p class="menu-title m-t-20 all-caps">Project Status</p>
    <ul class="sub-menu no-padding">
        <li ng-class="{active: vm.depSel == 'opened'}">
            <a href="javascript:;" ng-click="vm.getProjects({'type':'status','value':'opened'})">
                <div>
				<span class="title">Opened Project</span>
                <span class="badge pull-right">{{vm.countArr.opened}}</span>
                <div style="clear:both"></div>
                </div>
			</a>
        </li>
        <li ng-class="{active: vm.depSel == 'approved'}">
            <a href="javascript:;" ng-click="vm.getProjects({'type':'status','value':'approved'})">
                <div>
				<span class="title">Approved Project</span>
                <span class="badge pull-right">{{vm.countArr.approved}}</span>
                <div style="clear:both"></div>
                </div>
			</a>
        </li>
        <li ng-class="{active: vm.depSel == 'dismissed'}">
            <a href="javascript:;"  ng-click="vm.getProjects({'type':'status','value':'dismissed'})">
                <div>
				<span class="title">Dismissed Project</span>
                <span class="badge pull-right">{{vm.countArr.dismissed}}</span>
                <div style="clear:both"></div>
                </div>
			</a>
        </li>
    </ul>
</nav>
<!-- DISPLAY PROJECT LIST -->
<div class="inner-content full-height">
    <div class="split-view">
        <div class="split-list">
            <a class="list-refresh" href="#"><i class="fa fa-refresh"></i></a>
            <div class="list-view">
                <div ng-repeat="(date,projectGroup) in vm.projects" class="list-view-group-container">
                    <div class="list-view-group-header"><span>{{date}}</span></div>
                    <ul class="no-padding">
                        <li ng-repeat="project in projectGroup" class="item padding-15" ng-click="vm.detailView(project)">
                            <div class="m-l-15">
                                <p class="recipients no-margin hint-text small">
                                    <a href="javascript:;">{{project.user.name}}</a>, <span class="user_dep" ng-repeat="user_department in project.user.departments">{{user_department.name}}</span>
                                </p>
                                <a class="subject no-margin" href="javascript:;">{{project.title}}</a>
                                <p class="body no-margin">
                                    {{project.objective}}
                                </p>
                            </div>
                            <div class="datetime">5 Mins ago</div>
                            <div class="pull-left m-l-15">
                                <span>
									<i class="fa fa-heart" aria-hidden="true"></i> 9423
								</span>
                                <span>
									<i class="fa fa-comments-o" aria-hidden="true"></i> 13
								</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
