<!-- START PAGE CONTENT -->
<nav class="secondary-sidebar padding-30" style="">
    <a ui-sref="app.projects.create" class="btn btn-complete btn-block btn-compose m-b-30">
		<i calss="fa fa-plus"></i> Create
	</a>
    <p class="menu-title">BY DEPARTMENT</p>
    <ul class="main-menu scroll-content scroll-scrolly_visible">
        <li class="active">
            <a href="javascript:;">
				<span class="title">
					<i class="fa fa-desktop"></i> All Department
				</span>
				<span class="badge pull-right">10</span>
            </a>
        </li>
        <li ng-class="" ng-repeat="dep_item in vm.departments">
            <a href="javascript:;">
				<span class="title">
					<i class="fa fa-desktop"></i> {{dep_item.name}}
				</span>
				<span class="badge pull-right">1</span>
			</a>
            <ul ng-if="dep_item.child_department" class="sub-menu no-padding">
                <li ng-repeat="dep_child_item in dep_item.child_department">
                    <a href="javascript:;">
                        <span class="title">{{dep_child_item.name}}</span>
                        <span class="badge pull-right">2</span>
                    </a>
                    <div style="clear:both"></div>
                </li>
            </ul>
        </li>
    </ul>
    <p class="menu-title m-t-20 all-caps">Project Status</p>
    <ul class="sub-menu no-padding">
        <li>
            <a href="#">
				<span class="title">Approved Project</span>
			</a>
        </li>
        <li>
            <a href="#">
				<span class="title">Dismissed Project</span>
			</a>
        </li>
    </ul>
</nav>
<!-- DISPLAY PROJECT LIST -->
<div class="inner-content full-height">
    <div class="split-view">
        <div class="split-list">
            <a class="list-refresh" href="#"><i class="fa fa-refresh"></i></a>
            <div class="list-view">
                <div ng-repeat="(date,projectGroup) in vm.projects" class="list-view-group-container">
                    <div class="list-view-group-header"><span>{{date}}</span></div>
                    <ul class="no-padding">
                        <li ng-repeat="project in projectGroup" class="item padding-15">
                            <div class="m-l-15">
                                <p class="recipients no-margin hint-text small">
                                    <a href="javascript:;">{{project.department_id}}</a>, Web development
                                </p>
                                <a class="subject no-margin" href="project.html">Pages - Multi-Purpose Admin Template Revolution Begins here!</a>
                                <p class="body no-margin">
                                    have recently ordered a new pair of soccer cleats (item #6542951) from your website on June 21.
                                </p>
                            </div>
                            <div class="datetime">5 Mins ago</div>
                            <div class="pull-left m-l-15">
                                <span>
									<i class="fa fa-heart" aria-hidden="true"></i> 9423
								</span>
                                <span>
									<i class="fa fa-comments-o" aria-hidden="true"></i> 13
								</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
